.ct-footer .ct-widget {
	color: var(--color);
	--linkInitialColor: var(--color);
	
	&:not(:first-child) {
		margin-top: var(--widgets-gap, 40px);
	}

	// widget text color
	// > *:not(.widget-title) {
	// 	color: var(--color);
	// }
}