.entry-meta {
	--itemsSpacing: 9px;

	li {
		display: inline;
		margin-right: var(--itemsSpacing);

		&:after {
			margin-left: var(--itemsSpacing);
		}

		svg,
		&:after,
		[class*="ct-image-container"] {
			position: relative;
			top: -0.1em;
			vertical-align: var(--vertical-align, middle);
		}

		> span {
			margin-right: 5px;
		}
	}

	[class*="ct-image-container"] {
		margin-right: 10px;
		border-radius: 100%;

		+ svg {
			display: none;
		}
	}

	svg {
		margin-right: 7px;
		fill: currentColor;
	}

	// meta style
	&[data-type*="none"] li:not(:last-of-type) {
		--itemsSpacing: 20px;
	}

	&[data-type*="slash"] li:not(:last-of-type) {
		&:after {
			content: '/';
			--vertical-align: baseline;
		}
	}

	&[data-type*="line"] li:not(:last-of-type) {
		&:after {
			content: '-';
		}
	}

	&[data-type*="circle"] li:not(:last-of-type) {
		&:after {
			content: '●';
			font-size: 0.35em;
		}
	}

	// categories type
	[data-type="pill"],
	[data-type="underline"] {
		a {
			display: inline-flex;
			align-items: center;
			margin-top: 2px;
			margin-bottom: 2px;
		}
	}

	[data-type="pill"] a {
		min-height: 25px;
		padding: 0 8px;
		border-radius: 3px;
		color: var(--buttonTextInitialColor);
		background: var(--buttonInitialColor);

		&:not(:last-of-type) {
			margin-inline-end: 4px;
		}

		&:hover {
			color: var(--buttonTextHoverColor);
			background: var(--buttonHoverColor);
		}
	}

	[data-type="underline"] a {
		position: relative;

		&:before {
			position: absolute;
			bottom: -0.1em;
			content: '';
			width: 100%;
			height: 1px;
			opacity: 0.5;
			background: currentColor;
			transform: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}

		&:hover {
			&:before {
				opacity: 1;
			}
		}
	}
}