.product[class*="gallery"] {
	form.cart {
		margin-top: var(--product-element-spacing, 35px);
		margin-bottom: var(--form-margin-bottom, -15px);
		padding-top: var(--product-element-spacing, 35px);
		border-top: 1px solid var(--border-color);

		&:before, &:after {
			content: '';
			display: table;
		}

		&:after {
			clear: both;
		}
	}
}


// only for simple and variable products
.ct-cart-actions {
	display: flex;
	flex-wrap: wrap;

	> * {
		order: var(--item-order, 5);
		width: var(--item-width, 100%);
		margin-bottom: 15px;
	}

	.quantity {
		margin-inline-end: 15px;
		--item-order: 1;
		--quantity-height: var(--buttonMinHeight);

		@include media-breakpoint-down (xs) {
			&[data-type='type-1'] {
				--quantity-width: 80px;
			}

			&[data-type='type-2'] {
				--quantity-width: 110px;
			}
		}
	}

	// buttons
	@include media-breakpoint-down (xs) {
		--buttonMinHeight: 45px;
	}

	@include media-breakpoint-up (sm) {
		--buttonMinHeight: 55px;
	}

	.single_add_to_cart_button {
		flex: 1;
		--item-order: 2;

		@include media-breakpoint-up (sm) {
			&:not(.added) {
				max-width: var(--button-width);
			}
		}
	}

	.added_to_cart {
		--item-order: 4;
		--buttonTextInitialColor: var(--color);
		--buttonTextHoverColor: var(--color);
		--buttonInitialColor: rgba(224,229,235,0.6);
		--buttonHoverColor: rgba(224,229,235,1);

		@include media-breakpoint-up (sm) {
			flex: 1;
			margin-inline-start: 15px;
		}
	}
}