[data-items] > * {
	margin: var(--margin, 0 10px);
}

[data-column="start"] [data-items="primary"] > * {
	&:first-child {
		--margin: 0 10px 0 0;
	}
}

[data-column="end"] [data-items="primary"] > * {
	&:last-child {
		--margin: 0 0 0 10px;
	}
}


// commun styles
.ct-cart-item,
.site-branding,
.ct-header-cta,
.ct-header-text,
.ct-header-search,
.ct-header-trigger,
.ct-header-account,
.ct-header-wishlist,
.ct-dark-mode-switch {
	display: flex;
	align-items: var(--align-items, center);
}


.ct-cart-item,
.ct-social-box,
.ct-header-search,
.ct-header-account,
.ct-header-trigger,
.ct-header-wishlist,
.ct-dark-mode-switch {
	--linkInitialColor: var(--color);
}


.ct-cart-item,
.ct-social-box a,
.ct-header-search,
.ct-header-account,
.ct-header-trigger,
.ct-header-wishlist,
.ct-dark-mode-switch {

	&:hover .ct-icon {
		fill: var(--icon-hover-color, var(--paletteColor2));
	}
}