.ct-header-trigger {
	border-radius: 3px;

	&[data-design="outline"],
	&[data-design="solid"] {
		padding: 8px 10px;
	}

	&[data-design*="outline"] {
		border: 1px solid var(--secondColor, rgba(224, 229, 235, 0.9));

		&:hover {
			border-color: var(--secondColorHover, rgba(224, 229, 235, 0.9));
		}
	}

	&[data-design*="solid"] {
		background: var(--secondColor, rgba(224, 229, 235, 0.9));

		&:hover {
			background: var(--secondColorHover, rgba(224, 229, 235, 0.9));
		}
	}
}

// hide trigger when off-canvas is oppened
[data-panel*='in'] .ct-header-trigger {
	@include media-breakpoint-down (md) {
		opacity: 0;
	}
}